/*SASS STYLE SHEET*/
/*VARIABLES*/
:root {
  --primaryColor: #edf2fc;
  --secondaryColor: #212121;
}

.darkTheme {
  --primaryColor: #000106;
  --secondaryColor: #fff;
}

/*MIXINS*/
/*IMPORTS*/
/*GLOBAL VARIABLES*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 2rem;
  color: #555;
}

body {
  font-family: sans-serif;
}

/*HEADER*/
header {
  background: var(--primaryColor);
}

/*NAVBAR*/
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 10vh;
}

#logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#logo img {
  padding: 2rem;
}

.navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.navLinks li {
  margin-right: 5rem;
}

.navLinks li:hover {
  color: #ff523b;
}

.navLinks a {
  color: var(--secondaryColor);
}

.navLinks a:hover {
  color: #ff523b;
}

#icon {
  width: 30px;
  cursor: pointer;
}

/*****************************************************************************/
/*INTRO SECTION*/
.introSection {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90vh;
  position: relative;
}

.introText {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.introText h2 {
  color: var(--secondaryColor);
  font-size: 6rem;
  margin: 5rem 0rem;
  line-height: 6rem;
}

.introText p {
  color: var(--secondaryColor);
  font-size: 2.4rem;
  padding: 2rem 0rem;
}

.introText span {
  color: #ff523b;
}

.introText .introBtn {
  color: var(--primaryColor);
  background: var(--secondaryColor);
  border-radius: 5px;
  padding: 10px 18px;
  display: inline-block;
  margin: 30px 0px;
}

.socials a {
  font-size: 3rem;
  color: var(--secondaryColor);
  margin-right: 2rem;
  -webkit-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
}

.socials a:hover i {
  color: #ff523b;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.introImage {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  position: absolute;
  width: 45%;
  height: 90%;
  bottom: 0;
  right: 100px;
}

.introImage img {
  position: absolute;
  height: 100%;
  left: 70%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: bottom 1s, left 1s;
  transition: bottom 1s, left 1s;
}

.introImage:hover .backImage {
  bottom: 20px;
}

.introImage:hover .mainImage {
  left: 64%;
}
/*# sourceMappingURL=style.css.map */